html {
    margin: 0;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
}

div.content {
    margin: 0;
    height: 100vh;
}

#view {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

#move {
    background-color: white;
}

#viewImg {
    height: 200%;
    margin-left: -100%;
    margin-top: -100%;
}

div.buttons {
    position: absolute;
    bottom: 0;
}

div.buttons>* {
    display: inline-block;
    font-size: 16px;
}

@media (orientation: landscape) {
    div.buttons {
        top: 0;
        right: 0;
        text-align: right;
    }
    div.buttons>* {
        display: block;
        width: 100px;
    }
}