html {
    margin: 0;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
}

div.content {
    margin: 0;
    height: 100vh;
    transition: 0.2s;
}

#view {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    overflow: hidden;
}

#move {
    background-color: white;
}

#viewImg {
    width: 100%;
    margin-left: -100%;
    margin-top: -100%;
}

div.buttons {
    position: absolute;
    bottom: 0;
    display: flex;
}

div.buttons>* {
    flex: 1;
    opacity: 0.8;
    border: none;
    border-radius: 0;
}

div.buttons button {
    margin: 3px;

}

span.material-icons {
    font-size: 32px;
}

.fadeout {
    transition: 0.2s;
    opacity: 0;
}

.hidden {
    display: none;
}

@media (orientation: portrait) {
    div.buttons {
        width: 100%;
        height: 100px;
    }
}

@media (orientation: landscape) {
    div.buttons {
        top: 0;
        right: 0;
        text-align: right;
        flex-direction: column;
    }

    div.buttons>* {
        display: block;
        width: 100px;
    }
}