html {
    margin: 0;
    height: 100vh;
}

body {
    margin: 0;
    height: 100vh;
}

div.content {
    margin: 0;
    height: 100vh;
    transition: 0.2s;
}

#views {
    display: flex;
    flex-flow: wrap row;
}

#views>* {
    margin: 2px;
    border-radius: 0;
    border: none;
    height: 128px;
    background-color: lightgray;
}

#views img {
    object-fit: contain;
    transition: 0.2s rotate,width,height;
    width: 100%;
    height: 100%;
}

#views div.viewImg {
    max-width: none;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    overflow: hidden;
    width: auto;
}

#views div.viewImg img {
    height: auto;
    transform-origin: top left;
    display: block;
}

#move {
    background-color: white;
}

div.buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 100;
}

div.buttons>* {
    flex: 1;
    opacity: 0.8;
    border: none;
    border-radius: 0;
}

div.buttons button {
    margin: 3px;
    width: 100%;
    height: 100%;
}

span.material-icons {
    font-size: 32px;
}

.fadeout {
    transition: 0.2s;
    opacity: 0;
}

.hidden {
    display: none !important;
}

@media (orientation: portrait) {
    div.buttons {
        width: 100%;
        height: 100px;
    }

    div.buttons>* {
        max-width: 30%;
    }

    div.buttons>div>button>* {
        rotate: 90deg;
    }

    #views>* {
        max-width: 23%;
        width: 23%;
    }

    #views div.viewImg>img {
        rotate: 90deg;
    }
}

@media (orientation: landscape) {
    div.buttons {
        top: 0;
        right: 0;
        text-align: right;
        flex-direction: column-reverse;
    }

    div.buttons>* {
        display: block;
        width: 100px;
    }

    #views>* {
        max-width: 20%;
    }
}